<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings xdt:Transform="Replace">
    <add key="browser" value="Chrome"/>
    <add key="environment" value="http://test.com"/>
    <add key="login" value="test@gmail.com"/>
    <add key="password" value="test"/>
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="Pulse" connectionString="Data Source=test;Initial Catalog=PulseStage;Persist Security Info=True;user id=test;password=test" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>