<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="environment" value="http://192.168.2.78:8082/test/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Pulse"
         connectionString="Data Source=192.168.2.78;Initial Catalog=PulseCurrentTest;Persist Security Info=True;user id=sa;password=pass@word278"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
